<%= simple_form_for(@job, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.input :install_date, :as => :datepicker, :label => 'Install Date:', :input_html => { :class => 'span3' } %>
  <%= f.association :entity, :as => :radio_buttons, :label => 'Entity:', :label_method => :name, :value_method => :id, :include_blank => false %>
  <%= f.association :location, :label => 'Location:', :input_html => { :class => 'span3' }, :label_method => :address, :value_method => :id, :include_blank => false %>
  <%= f.input :floor, :collection => ["SC Level", "MC Level", "B2 Level", "B1 Level"].concat((1..30).to_a), :label => 'Floor:', :input_html => { :class => 'span3' } %>
  <%= f.association :product, :label => 'Product:', :input_html => { :class => 'span3', :label_method => :name, :value_method => :id, :include_blank => false } %>
  <%= f.association :user, :label => 'User:', :input_html => { :class => 'span3' } %>
  <%= f.input :comment, :as => :text, :label => 'Comment:', :input_html => { :class => 'span3', :rows => 10 } %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
