<tr>
	<td><%= job.entity.name %></td>
	<td><%= job.location.address %></td>
	<td><%= job.floor %></td>
	<td><%= job.product.name %></td>
	<td><%= job.user.name %></td>
	<td><%= job.install_date %></td>
	<td><%= link_to "view", job %> | <%= link_to "delete", job, method: :delete, data: { confirm: "You sure?" } %></td>
</tr>