<div class="row">
  <div class="span12 vspacerf">
      <h3 style="display:inline;">Work Performed</h3>
      <div class="pull-right">
          <%= link_to 'Edit', edit_job_path(@job) %> | <%= link_to 'Back', jobs_path %>
      </div>
  </div>
</div>
<div class="row vspacera">
  <div class="span12">
    <p>
      <%= @job.user.name %> added a <%= @job.product.name %> to <%= @job.location.address %> (<%= @job.floor %>).  This is on the <%= @job.entity.name %> network.
    </p>
  </div>
  <div class="span12">
    <p>
      <b>Personal Comment:</b>
      <%= @job.comment %>
    </p>
  </div>
</div>
