<% if current_user %>
<div class="row">
	<div class="span12">
		<h1>Recent Activity</h1>
        <% if @activity.count < 1 %>
            <h3>There is no recent activity</h3>
        <% else %>
		    <ol>
		    	<% @activity.each do |job| %>
		    		<li><%= job.user.name %> added a <%= job.product.name %> to <%= job.location.address %> (<% if job.floor == "MC Level" || job.floor == "SC Level" || job.floor == "B1 Level" || job.floor == "B2 Level" %><%= job.floor %><% else %><%= job.floor.to_i.ordinalize %> Floor<% end %>).  This is on the <%= job.entity.name %> network.</li>
		    	<% end %>
		    </ol>
		<% end %>
	</div>
</div>
<% else %>
<% content_for :jumbotron do %>
	<div class="jumbotron masthead">
		<div class="container">
			<h1>Workload</h1>
			<p>A simple, intuitive application to help you track what assets have been deployed on your network.</p>
			<p>
				<%= link_to "Sign In Now", new_session_path, :class => "btn btn-success btn-large" %>
			</p>
			<ul class="masthead-links">
				<li> Public Beta Version*</li>
			</ul>
		</div>
	</div>
	<div class="social">
		<div class="container">
			<ul class="social-buttons">
				<li><i class="icon-twitter-sign"></i> Twitter</li>
				<li><i class="icon-linkedin-sign"></i> LinkedIn</li>
				<li><i class="icon-facebook-sign"></i> Facebook</li>
			</ul>
		</div>
	</div>
<% end %>
<% end %>
